@use "sass:color";
@use "sass:meta";
@use "sass:map";

// will import everything forwarded inside the base/_index.scss file
@use './base' as *;
@use './components' as *;
@use './layout' as *;
@use './utilities' as *;
// @use './vendor' as *;

body {
  background: #1f1f1f;
}

* {
  color: white;
}


body {
  // font-family: $ff-base;
  font-weight: $fw-400;
  font-size: fs(400);
  color: clr(neutral, 400);
  line-height: 1.5;
  display: flex;
  flex-direction: column;
  gap: 20px 0;
  width: 100%;
  margin: 30px auto;
  max-width: 1000px;
}

section {
  display: flex;
  flex-wrap: wrap;
}
