@use "sass:color";
@use "sass:meta";
@use "sass:map";

// will import everything forwarded inside the base/_index.scss file
@use './base' as *;
// @use './components' as *;
// @use './layout' as *;
@use './utilities' as *;
// @use './vendor' as *;

body {
  background: #1f1f1f;
}

* {
  color: white;
}


body {
  display: flex;
  flex-direction: column;
  gap: 20px 0;
  width: 100%;
  margin: 30px auto;
  max-width: 1000px;
}

section {
  display: flex;
  flex-wrap: wrap;
}


//== Grid layout col system

.col,
[class*="col-"] {
  padding: 1rem;
}

$total-columns: 12;

.main-grid {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat($total-columns, minmax(0, 1fr));
  border: 1px solid white;
}

[class*="col-"] {
  grid-column: span $total-columns;
}

@for $column-count from 1 through $total-columns {
  // always a column
  .col-#{$column-count} {
    grid-column: span $column-count;
  }

  // small screens and up
  @media (min-width: 20em) {
    .col-sm-#{$column-count} {
      grid-column: span $column-count;
    }
  }

  // medium screens and up
  @media (min-width: 40em) {
    .col-med-#{$column-count} {
      grid-column: span $column-count;
    }
  }

  // large screens and up
  @media (min-width: 60em) {
    .col-lg-#{$column-count} {
      grid-column: span $column-count;
    }
  }
}
