$height: 100px;
$width: 100px;
$clr-primary: limegreen;
$clr-secondary: hotpink;
$clr-tertiary: cyan;

// easy light/dark mode or color schemes
$bg-dark: #1f1f1f;
$bg-light: #ededed;

$txt-light: #ededed;
$txt-dark: #1f1f1f;

$dark-scheme: $bg-dark, $txt-light;
$light-scheme: $bg-light, $txt-dark;

$colors: (
  neutral: (
    100: white,
    400: gray,
    900: black,
  ),
  primary: (
    100: rgb(167, 229, 167),
    400: limegreen,
    900: rgb(29, 134, 29),
  ),
);