@use "../abstracts/" as *;

.button {
    cursor: pointer;
    border: 0;
    text-transform: uppercase;
    font-weight: $fw-bold;
    color: clr(neutral, 100);
    background-color: clr(primary, 400);
    padding: 1em 1.5em;
    justify-self: center;
  
    &:hover,
    &:focus {
      color: clr(neutral, 100);
      background-color: rgb(clr(neutral, 900), 0.7);
    }
    
    &[data-type="inverted"] {
      color: clr(primary, 400);
      background-color: clr(neutral, 100);
    }
}


.button[data-type="accent"] {
  background-color: clr(accent, 400);
  color: clr(neutral, 900);
}

.button[data-type="outline"] {
  --outline-size: 5px;
  background: transparent;
  outline: var(--outline-size) solid clr(neutral, 100);
  outline-offset: calc(var(--outline-size) * -1);
  color: clr(neutral, 100);
}